@font-face {
  font-family: "StratosSkyEng";
  src: url("~fonts/skyeng.otf");
  src: url("~fonts/skyeng.woff2") format("woff2"),
    url("~fonts/skyeng.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}
