.item {
  width: 250px;
  height: 150px;
  position: relative;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: transform 0.3s linear;
  &:hover {
    transform: scale(1.05);
  }

  &__text {
    font-size: 24px;
    font-family: StratosSkyeng;
    line-height: 32px;
    letter-spacing: -0.12px;
  }
}
